.loginButton.css-sghohy-MuiButtonBase-root-MuiButton-root {
  border-radius: 20px 0px 0px 20px;
  background-color: white;
  color: blue;
  border: 1px solid blue;
  padding: 1px 30px;
}
.signupButton.css-sghohy-MuiButtonBase-root-MuiButton-root {
  border-radius: 0px 20px 20px 0px;
  background-color: white;
  color: blue;
  border: 1px solid blue;
  padding: 10px 30px;
}
.loginButton.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  color: white;
}
.signupButton.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  color: white;
}
#header {
  position: fixed;
  z-index: 999;
}
